<header class="navbar navbar-expand-lg bd-navbar sticky-top bg-primary p-0">
    <nav class="navbar navbar-expand-lg bg-primary container-xxl bd-gutter flex-wrap flex-lg-nowrap" data-bs-theme="dark" aria-label="Main navigation">  
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                <i class="fa-solid fa-calendar-days"></i>
                Life Planner
            </a>            
            
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="this.isUserLoggedIn()">
                    <!-- Some stuff(maybe links and others....) -->
                    <!-- TODO сделать подсветку текущей страницы -->
                    <!-- <li class="nav-item">
                        <a class="nav-link active" href="#">Home</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/Dashboard">Dashboard</a>
                    </li>
                </ul>                              
            </div>
            <div *ngIf="!this.isUserLoggedIn()">
                <button class="btn btn-light btn-navbar" (click)="toLoginPage()" type="submit">Login</button>
                <button class="btn btn-outline-light btn-navbar" (click)="toRegisterPage()" type="submit">Register</button>   
            </div>
            <div *ngIf="this.isUserLoggedIn()">
                <button class="btn btn-outline-light btn-navbar" (click)="logOut()" type="submit">Sign out</button>   
            </div>
        </div>
    </nav>
</header>
