<div>
  Register
  <div>
    Name:
    <input [(ngModel)]="regUser.FirstName" placeholder="Name">
  </div>
  <div>
    UserName:
    <input [(ngModel)]="regUser.Login" placeholder="UserName">
  </div>
  <div>
    Password:
    <input [(ngModel)]="regUser.Password" placeholder="Password" type="password">
  </div>
  <button (click)="register(regUser)">Register</button>
</div>
<div>
  Log in
  <div>
    UserName:
    <input [(ngModel)]="authUser.Login" placeholder="UserName">
  </div>
  <div>
    Password:
    <input [(ngModel)]="authUser.Password" placeholder="Password" type="password">
  </div>
  <button (click)="login(authUser)">Login</button>
</div>
<div>
  Get cur Id:
  <button (click)="getme()">Get me</button>
</div>