.tab-header
{
    font-size: 20px !important;
    font-weight: bold !important;
} 

.daily-task-current{
    border: 1px solid gray;
    border-radius: 10px;
    width: 200px;
    margin: 5px;
    padding: 0px;
}

.daily-task-current-button{
    cursor: pointer;
    color: #0d6efd;
    border: 1px solid #0d6efd;
    border-radius: 10px;
}

.daily-task-current-button:hover{
    color: white;
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    border-radius: 10px;
}

.daily-task-card-edit-button{
    cursor: pointer;
    margin-top: 2px;
    margin-left: 7px;
    width: 35px;
    height: 35px;
    border-radius: 20px;
}

.daily-task-card-edit-button:hover{
    background-color: #cfe2ff;
}

.daily-task-card-complete-button{
    cursor: pointer;
    margin-top: 2px;
    margin-left: 7px;
    width: 35px;
    height: 35px;
    border-radius: 20px;
}

.daily-task-card-complete-button:hover{
    background-color: #59e794;
} 