<mat-tab-group animationDuration="0ms" class="font-weigth-bold">
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="tab-header">Current</span>
        </ng-template>
        <ng-template matTabContent>
            <div class="container-fluid">
                <button type="button" class="btn btn-outline-primary" (click)="openAddEditTaskForm()">
                    <i class="fa-solid fa-plus"></i>
                </button>
                <div class="container">
                    <div class="daily-task-current">
                        <div class="row">
                            <div>
                                <div class="">
                                    <div class="row">
                                        <div class="col-9 pr-0">
                                            <div class="container overflow-hidden m-2 p-0 mr-0" style="max-width: 140px;">
                                                <h4 class="text-wrap p-0">NameNameNameNameNameNameNameName</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="container overflow-auto m-2 mt-0" style="max-height: 100px; max-width: 195px;">
                                            <span class="text-wrap text-break overflow-auto">DescriptionDescriptionDescriptionDescription</span>
                                        </div>
                                    </div>
                                    <hr class="m-0">
                                    <div class="row">
                                        <div class="col-7 pr-0">
                                            <div class="container overflow-hidden m-2 p-0 mr-0" style="max-width: 140px;">
                                                <span class="text-wrap p-0">
                                                    <i class="fa-regular fa-calendar"></i>
                                                    Jul 26, 2019
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="row">
                                                <div class="daily-task-card-complete-button d-flex justify-content-center align-items-center" title="Complete!">
                                                    <i class="fa-solid fa-check" style="font-size: 27px"></i>
                                                </div>                                 
                                            </div>                                
                                        </div> 
                                        <div class="col-2">
                                            <div class="row">
                                                <div class="daily-task-card-edit-button d-flex justify-content-center align-items-center" title="Edit">
                                                    <i class="fa-solid fa-pencil" style="font-size: 24px"></i>
                                                </div>                                 
                                            </div>                                
                                        </div>                             
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>  
                    <div class="daily-task-current">
                        <div class="row">
                            <div>
                                <div class="">
                                    <div class="row">
                                        <div class="col-9 pr-0">
                                            <div class="container overflow-hidden m-2 p-0 mr-0" style="max-width: 140px;">
                                                <h4 class="text-wrap p-0">NameNameNameNameNameNameNameName</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="container overflow-auto m-2 mt-0" style="max-height: 100px; max-width: 195px;">
                                            <span class="text-wrap text-break overflow-auto">DescriptionDescriptionDescriptionDescription</span>
                                        </div>
                                    </div>
                                    <hr class="m-0">
                                    <div class="row">
                                        <div class="col-7 pr-0">
                                            <div class="container overflow-hidden m-2 p-0 mr-0" style="max-width: 140px;">
                                                <span class="text-wrap p-0">
                                                    <i class="fa-regular fa-calendar"></i>
                                                    Jul 26, 2019
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="row">
                                                <div class="daily-task-card-complete-button d-flex justify-content-center align-items-center" title="Complete!">
                                                    <i class="fa-solid fa-check" style="font-size: 27px"></i>
                                                </div>                                 
                                            </div>                                
                                        </div> 
                                        <div class="col-2">
                                            <div class="row">
                                                <div class="daily-task-card-edit-button d-flex justify-content-center align-items-center" title="Edit">
                                                    <i class="fa-solid fa-pencil" style="font-size: 24px"></i>
                                                </div>                                 
                                            </div>                                
                                        </div>                             
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>                    
                </div>
                
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="tab-header">Completed</span>
        </ng-template>
        <ng-template matTabContent>
            Content 1 - Loaded:
        </ng-template>
    </mat-tab>
</mat-tab-group>